.contact-preview{
    text-align: center;
}

.contact-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}

.no-contact{
    position: absolute;
    opacity: 0.5;
    font-weight: 500;
}

@media (max-width:1220px) {
    .contact-grid{
        grid-template-columns: 1fr 1fr;

    }
}
@media (max-width:800px) {
    .contact-grid{
        grid-template-columns: 1fr;
    }
}